DATABASE_URL=

ZAPI_INSTANCE=
ZAPI_BASE_URL=https://api.z-api.io/
ZAPI_TOKEN=
ZAPI_WEBHOOK_TOKEN=gera-com-secrets-token-urlsafe-32

WIREWEB_BASE_URL=https://app.wireweb.co.in
WIREWEB_API_KEY=
WIREWEB_SESSION_ID=
WIREWEB_WEBHOOK_TOKEN=gera-com-secrets-token-urlsafe-20

PROVIDERS_ORDER=["zapi","wireweb"]